<div class=" container-fluid bg-6777ef py-2">
  <div class="row ms-0 mt-3">
    <div class="col-12 text-white px-3">
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-bars fs-4 me-1 cursor-pointer" (click)="toggleSideBar()"></i>
        </li>
        <li class="list-inline-item float-end mx-4 d-flex" data-bs-toggle="dropdown">
          <div class="cursor-pointer">
            <i class="fa fa-user-circle fs-4 me-1"></i>
            <span class="d-none d-sm-inline ms-1">John Doe</span>
            <i class="dropdown-toggle ms-1"></i>
          </div>
          <ul class="dropdown-menu">
            <li class="p-1">
              <a class="dropdown-item text-dark" href="#">
                <i class="fa fa-user-o"></i>
                Profile
              </a>
            </li>
            <hr>
            <li class="p-1">
              <a class="dropdown-item text-danger" (click)="onLogout()">
                <i class="fa fa-sign-out"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
        <li class="list-inline-item float-end cursor-pointer">
          <i class="fa fa-home fs-4 me-1"></i>
          <span class="d-none d-sm-inline">Visit Website</span>
        </li>
      </ul>
    </div>
  </div>
</div>
