/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;

  .cursor-pointer {
    cursor: pointer !important;
  }
}

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.bg-6777ef {
  background-color: #6777ef !important;
}
